div.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 15px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.button:active {
  transform: scale(0.9); 
}