form.block {
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

div.todo {
  height: 30px;
  display: flex;
  align-items: center;
}

div.todo input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  border: #33c979 2.5px solid;
  background-color: #d5d5d5;
  font-size: 16px;
}

div.urgent {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

div.urgent input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  accent-color: #33c979 ;
}

div.urgent label {
  cursor: pointer;
}

input.butt {
  width: 100%;
  height: 40px;
  border: unset;
  border-radius: 5px;
  border-color: #33c979 ;
  background-color: #33c979 ;
  font-size: 20px;
  font-weight: 600;
  color: #061626;
  cursor: pointer;
}
